.container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 0;
    text-align: center;
  }
  
  .container span {
    padding: 0 1px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
  }
  
  .cart-column {
    display: flex;
    width: 35%;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .container img {
    width: 80px;
    border-radius: 8%;
    margin: 10px;
  }
  
  .quantity {
    display: flex;
    width: 25%;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .price {
    display: flex;
    width: 20%;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .container button {
    background-color: rgb(231, 76, 76);
    padding: 8px 7px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 12px;
    border-radius: 8%;
    font-weight: bold;
  }