.about {
    display: block;
  }

  .about h1 {
    font-family: "Metal Mania";
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .wrapper {
    padding: 0 17%;
    justify-content: center;
  }

  .wrapper img {
    float: left;
    margin: 5px 20px 0 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .wrapper p {
    font-size: 19px;
    font-family: "Gentium Book Basic", serif;
    margin: 20px;
    color: rgb(104, 98, 98);
    text-align: justify;
  }