.home {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 1rem;
}
.wrapper {
  display: block;
  margin: 4rem auto;
  text-align: center;
  padding: 20px 1rem;
}

  .tour-item {
    display: flex;
    margin: 0rem auto;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .tour-date {
    width: 12%;
  }
  .tour-place {
    width: 50%;
    color: #777;
  }

  .tour-description {
    width: 25%;
    color: #777;
  }

  .button {
    width: 20%;
    background: #56CCF2;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    position: relative;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }