.footer{
  display:flex;
  width: 100%;
  text-align: start;
  padding-bottom: 20px;
  padding-top:10px;
  justify-content: space-around;
  background-color: #56CCF2;
}
.footer h1{

  color:white;
  width: 80%;
  font-size:60px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: -320px;
  font-weight:bold;
  font-family:'Times New Roman', Times, serif;
  overflow: hidden;
}
.footer icons{
  width:50%;
  padding-top: 85%;
  display:flex;
  align-items:center;
  justify-content: space-around;
}
.footer ul{
  list-style: none;
  display:flex;
  position: absolute;
  right: 100px;
  justify-content: space-around;
  overflow: hidden;
}
.footer li{
  padding: 8px;
  margin:0px 15px;
}
.footer li:hover{
  background:rgb(17, 206, 206);
}
.footer img{
  width:30px;
}