@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Metal+Mania:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: transparent;
}

html {
  font-family: 'Lato', 'Metal Mania' ;
}
